.formContainer {
    width: 350px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.form {
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.form > input {
    width: 260px;
    height: 30px;
    border: solid 0.8px var(--light-grey);
    border-radius: 2px;
    background-color: #fafafa;
    padding: 5px;
    padding-left: 7px;
}

.formContainer > Button {
    width: 268px;
    height: 32px;
    background-color: var(--light-blue);
    color: var(--white);
    border: none;
    border-radius: 7px;
    font-weight: bold;
}

.orDivide {
    width: 268px;
    height: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 13px;
    color: var(--dark-grey);
}

.orDivide > div {
    border-top: solid 0.9px var(--light-grey);
    width: 105px;
}

.facebook {
    height: 20px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.facebook > Button {
    border: none;
    background-color: var(--white);
    color: var(--navy-blue);
    font: var(--main-font);
    font-size: 15px;
    font-weight: bold;
}

.forgotPass > Button {
    color: var(--navy-blue);
    border: none;
    background-color: white;
    font-size: 12px;
}