.mainContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
}

.smt {
  width: 350px;
  height: 600px;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;

}

.logIn {
  width: 350px;
  height: 400px;
  border: solid 0.8px var(--light-grey);
  margin-top: 14px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.wordmark {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.signUp {
  width: 350px;
  height: 63px;
  border: solid 0.8px var(--light-grey);
  margin-top: 14px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.question {
  font-family: var(--main-font);
  font-size: 14px;
}

.signUpButton {
  border: none;
  background-color: white;
  color: var(--light-blue);
  font-weight: bold;
  font-size: 14px;
}

.getApp {
  width: 350px;
  height: 95px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: var(--main-font);
  font-size: 14px;
}

.getAppButtons {
  width: 268px;
  display: flex;
  justify-content: space-between;
}

.getAppButtons > button{
  width: 130px;
  height: 43px;
  border: solid;
  border-radius: 7px;
  background-color: black;
  color: white;
}

.appStore {
  display: flex;
  justify-content: center;
  align-items: center;
}

#smalltextOne {
  font-size: 10px;
  font-weight: 300;
}

#largetextOne {
  font-size: 14px;
}

.googlePlay {
  display: flex;
  justify-content: center;
  align-items: center;
}

#smalltextTwo {
  font-size: 8px;
  font-weight: 300;
  text-align: left;
}

#largetextTwo {
  font-size: 14px;
}


/* Tablet (iPad air */
@media (min-width: 414px) and (max-width: 820px) and (max-height: 1180px) {
  .phonePic {
    display: none;
  }

  .smt {
    margin-right: auto;
    margin-left: auto;
    display: flex;
  }

  .optionButtons {
    width: 800px;
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* iPhone XR */
@media (max-width: 414px) and (max-height: 896px){
  .mainContent {
    min-height: 20vh;
  }
  
  .phonePic {
    display: none;
  }
  
  .smt {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
  }

  .logIn {
    border: none;
  }

  .signUp {
    border: none;
  }

  .getApp {
    margin-top: 70px;
  }

}